.add-book-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.add-book-title {
  color: #959595;
  font-weight: 700;
  font-size: 34px;
  text-align: left;
  border-top: 1px solid lightgray;
  width: 100%;
  padding-top: 20px;
}

.add-todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 180px;
}

.add-todo input {
  background: #fff;
  list-style-type: none;
  padding: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  margin-right: 20px;
  font-size: 18px;
  outline: none;
  font-weight: 900;
  color: #757575;
  transition: all .3s;
}

.add-todo input:hover {
  box-shadow: none;
}

.add-book-category {
  width: 40%;
}

.add-book-submit {
  width: 20%;
  padding: 0px 50px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.button-color {
  background: #0290ff;
  color: white;
  font-weight: 900;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s;
}

.button-color:hover {
  background: #006abd;
}

.empty-field-warning {
  position: relative;
  top: -70px;
  color: tomato;
  font-weight: 700;
}

.Dropdown-control {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee !important;
  padding: 20px !important;
  font-size: 18px;
  font-weight: 900;
  color: #757575 !important;
}

.Dropdown-arrow {
  top: 32px !important;
}
